<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="Flappy Arms"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tezeract.intent.action.MOTION_GAME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="com.tezeract.category" android:value="kids" />
            <meta-data android:name="com.tezeract.min_players" android:value="1" />
            <meta-data android:name="com.tezeract.max_players" android:value="1" />
            <meta-data android:name="com.tezeract.description"
                android:value="Flap your arms like a bird to fly through the pipes! A motion-controlled take on the classic." />
        </activity>

    </application>

</manifest>
